<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grafico de Circulacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grafico de Circulacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor del grafico -->
  <div style="text-align:center;">
    <canvas id="graficoPasajeros" width="400" height="400"></canvas>
  </div>

  <!-- Contenedor de boton "Ver Anomalias" -->
  <div class="contenedor-filtro-y-registros">
    <ion-button expand="block" color="secondary" routerLink="/anomalias" style="margin-top: 10px;">
      Ver Anomalias
    </ion-button>
  </div>

  <!-- Contenedor principal con margen -->
  <div class="contenedor-filtro-y-registros">

    <!-- Sección de Filtro (selector de estación) -->
    <div class="contenedor-filtro">
      <ion-item>
        <ion-label>Filtrar por Estación</ion-label>
        <ion-select [(ngModel)]="estacionSeleccionada" (ionChange)="onEstacionSeleccionada($event.detail.value)">
          <ion-select-option *ngFor="let estacion of estaciones" [value]="estacion">
            {{ estacion }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Sección de Registros (Lista de reportes) -->
    <div class="contenedor-registros">
      <ion-list>
        <ion-item *ngFor="let registro of registros$ | async">
          <ion-label>
            <h2>Reporte: {{ registro.diaMes }}</h2>
            <p>Fecha: {{ registro.fechaCompleta }}</p>
            <p>Cantidad de pasajeros: {{ registro.pasajeros }}</p>
            <p>Estación: {{ registro.estacion }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>
