<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Graficos de Circulacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Graficos de Circulacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor de imagen con link y titular -->
  <div class="contenedor-imagen">
    <h3><strong>Visualizacion de aglomeraciones</strong></h3>
    <a target="_blank">
      <img src="https://ipsuss.cl/ipsuss/site/artic/20190212/imag/foto_0000000120190212151659.png" alt="Imagen de análisis" />
    </a>
  </div>

  <!-- Contenedor de imagen con link y titular -->
  <div class="contenedor-imagen">
    <h3><strong>Analisis de flujo</strong></h3>
    <a target="_blank">
      <img src="https://www.researchgate.net/profile/Aranzazu-Berbey-Alvarez/publication/275659133/figure/fig1/AS:1042639348580357@1625596000685/Figura-11-Perfil-de-la-Demanda-Global-de-Transporte-Colectivo-Dia-Habil-demanda-en_Q320.jpg" alt="Imagen de análisis" />
    </a>
  </div>

  <!-- Contenedor de boton "Ver Anomalias" -->
  <div class="contenedor-filtro-y-registros">
    <ion-button expand="block" color="secondary" routerLink="/anomalias" style="margin-top: 10px;">
      Ver Anomalias
    </ion-button>
  </div>

  <!-- Contenedor principal con margen -->
  <div class="contenedor-filtro-y-registros">

    <!-- Sección de Filtro (selector de estación) -->
    <div class="contenedor-filtro">
      <ion-item>
        <ion-label>Filtrar por Estación</ion-label>
        <ion-select [(ngModel)]="estacionSeleccionada" (ionChange)="onEstacionSeleccionada($event.detail.value)">
          <ion-select-option *ngFor="let estacion of estaciones" [value]="estacion">
            {{ estacion }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Sección de Registros (Lista de reportes) -->
    <div class="contenedor-registros">
      <ion-list>
        <ion-item *ngFor="let registro of registros$ | async">
          <ion-label>
            <h2>Reporte: {{ registro.diaMes }}</h2>
            <p>Fecha: {{ registro.fechaCompleta }}</p>
            <p>Cantidad de pasajeros: {{ registro.pasajeros }}</p>
            <p>Estación: {{ registro.estacion }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>
