<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anomalias</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Contenedor de graficos -->
  <div class="chart-container">
    <h3>Anomalías Diarias</h3>
    <canvas id="dailyChart" width="400" height="400"></canvas>

    <h3>Anomalías Mensuales</h3>
    <canvas id="monthlyChart" width="400" height="400"></canvas>

    <h3>Anomalías Anuales</h3>
    <canvas id="yearlyChart" width="400" height="400"></canvas>
  </div>
</ion-content>
<ion-button expand="block" color="danger" routerLink="/informe" style="margin-top: 10px;">
  Obtener Informe
</ion-button>